@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

/* for nav link */
html {
  scroll-behavior: smooth;
}
:root {
  scroll-padding-top: 80px; /* adjust if you have a sticky navbar */
}



body {
    font-family: 'JetBrains Mono', monospace;
  }
  

/* Used ths to override contentArrowStyle */
.vertical-timeline-element-content::before {
    display: none !important;
    border-style: none !important;
    content: none !important;
  }
  
  .vertical-timeline-element.vertical-timeline-element--work .vertical-timeline-element-content::before {
    display: none !important;
  }

.my-progress::-webkit-progress-value{
    background-color: #3178C6;
}
.my-progress::-moz-progress-bar{
    background-color: #3178C6;
}

.my-progress-text::-webkit-progress-value{
    color: #3178C6;
}
.my-progress-text::-moz-progress-bar{
    color: #3178C6;
}
/* progress color for worpress */


.my-progress-w::-webkit-progress-value{
    background-color: #21759B;
}
.my-progress-w::-moz-progress-bar{
    background-color: #21759B;
}

/* Vertical Timeline line color */
/* Custom vertical gradient line for timeline */
.gradient-timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 22px; /* This aligns the gradient line with the timeline dots */
    width: 4px;
    height: 100%;
    background: linear-gradient(to bottom, #ec4899, #8b5cf6); /* from pink-500 to purple-500 */
    z-index: 0;
  }

  /* Theme color */

  /* @theme{
    --color-border : hsl(var(--border));
    --color-background : hsl(var(--background));
    --color-forground : hsl(var(--forground));

    --color-primary : hsl(var(--primary));
    --color-secondary : hsl(var(--secondary));

    --color-card : hsl(var(--card));

  }

  @layer base {
    :root {
        --background: 210 40% 98%;
        --forground: 222 47% 11%;

        --primary: 250 65% 65%;
        --secondary: 210 40% 98%;

        --card: 0 0% 100%;
        --border: 214 32% 91%;
    }

    .dark {
        --background: 222 46% 4%;
        --forground: 213 31% 91%;

        --primary: 250 65% 65%;
        --secondary: 213 31% 91%;

        --card: 222 47% 8%;
        --border: 217 32% 25%;
    }
  }

  
  
  
  
   */